.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.todo {
  background-color: rgba(189, 186, 186, 0.38);;
  border-radius: 8px;
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.todo:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
